.Rproj.user
.Rhistory
.RData
.Ruserdata
grattanReporter.Rproj
*.aux
*.bbl
*.blg
*.bcf
*.fn100
*.lof
*.log
*.out
*.pdf
*.run.xml
*.toc
*.idx
*.tsv
.httr-oauth

tests/testthat/fnote-typogr/*
!tests/testthat/fnote-typogr/*.tex

